modules = ["vue-node-20", "nodejs-20", "web"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=5000 BASE_PATH=/ pnpm --filter @workspace/omnisave run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[agent]
stack = "BEST_EFFORT_FALLBACK"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 23671
externalPort = 3000

[userenv]

[userenv.shared]
VITE_FIREBASE_API_KEY = "AIzaSyBsz3RyI6H9M70i-qG6HOAuvnyup_oOaaI"
VITE_FIREBASE_AUTH_DOMAIN = "vj-pilesug.firebaseapp.com"
VITE_FIREBASE_DATABASE_URL = "https://vj-pilesug-default-rtdb.firebaseio.com"
VITE_FIREBASE_PROJECT_ID = "vj-pilesug"
VITE_FIREBASE_STORAGE_BUCKET = "vj-pilesug.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID = "916407856446"
VITE_FIREBASE_APP_ID = "1:916407856446:web:0df28d7255061b7ee1906f"
VITE_FIREBASE_MEASUREMENT_ID = "G-P73D3NMZCN"
VITE_PESAPAL_CONSUMER_KEY = "vTibxQeLvkiJ0aBZQk3Ci5gL2BUx1dP0"
VITE_PESAPAL_CONSUMER_SECRET = "kdwghPqFeT5dxwnhrpVccfY9B7o="

[nix]
channel = "stable-25_05"
